@swatch: "cosmo";

// Include Bootstrap with optional theme
@import "bower_components/bootstrap/less/bootstrap.less";
@import "bower_components/bootswatch/@{swatch}/variables.less";
@import "bower_components/bootswatch/@{swatch}/bootswatch.less";
@import "bower_components/bootstrap/less/utilities.less";
// Include Font Awesome
@import "bower_components/fontawesome/less/font-awesome.less";

// Custom styles
@brand-primary:         #FF0096;

body {
  background-image:url('http://assets.pinkgrading.com/images/old_mathematics.png');
  padding-bottom: 70px;
}

.carousel-caption {
  position: relative;
  background-color:#121212;
    background: rgba(0, 0, 0, 0.80);
}
  
@media (min-width:768px){
  .carousel-caption {
    position: absolute;
  }
  article {
    min-height: 600px;
  }
}

@media (min-width:992px){
  .marge {
    margin-left: 137px;
  }
}

img {
  width: 100%;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Set the fixed height of the footer here */
#footer {
  padding-top: 20px;
  background-color: #121212;
}
