---
layout: default
title: Pink Grading
---

<div class="container">
  <!-- Carousel -->
  <div class="row">
    <div class="col-xs-12 col-md-6">
    </div>
    <div class="col-xs-12 col-md-12">
      <div class="bs-example">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <img src="http://assets.pinkgrading.com/images/homepage/banner1.jpg" alt="First slide">
            </div>
            <div class="item">
              <img src="http://assets.pinkgrading.com/images/homepage/banner2.jpg" alt="First slide">
            </div>
            <div class="item">
              <img src="http://assets.pinkgrading.com/images/homepage/banner3.jpg" alt="First slide">
            </div>
            
          </div>
          
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="icon-prev">
                <i class="fa fa-angle-left fa-stack-1x"></i>
            </span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="icon-next">
              <i class="fa fa-angle-right fa-stack-1x"></i>
            </span>
          </a>
        </div>
      </div><!-- /example -->
    </div>
    <hr />
  </div>
  
  <div class="row">
    <div class="col-md-12 text-center">
      <h2><a href="#">SERVICES</a></h2>
      <hr>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-lg-4 text-center">
      <div class="well">
        <h3>DEMOLITION</h3>
        <img src="http://assets.pinkgrading.com/images/jobsite/i-480-cuming/interstate-480-cuming-01.jpg">
        <hr>
        <p>Our goal with every partial and total demolition project is to make the overall project easy for you by providing full service capabilities.</p>
        <a href="{{ root_url }}/services/demolition.html">Read More.</a>
      </div>
    </div>
    
    <div class="col-xs-12 col-md-6 col-lg-4 text-center">
      <div class="well">
        <h3>EXCAVATION</h3>
        <img src="http://assets.pinkgrading.com/images/homepage/hydrolic-excavator-415x311.jpg">
        <hr>
        <p>Pink Grading is experienced with excavation of both commercial and residential buildings in a full range of sizes and complexity.</p>
        <a href="{{ root_url }}/services/excavation.html">Read More.</a>
      </div>
    </div>
    
    <div class="col-xs-12 col-md-6 col-lg-4 text-center">
      <div class="well">
        <h3>GRADING</h3>
        <img src="http://assets.pinkgrading.com/images/homepage/P6030031-415x311.jpg">
        <hr>
        <p>Grading your site isn't just simply pushing dirt around. It takes an expert to ensure that the site is leveled correctly to ensure proper water flow.</p>
        <a href="{{ root_url }}/services/grading.html">Read More.</a>
      </div>
    </div>
    
  </div>
  
</div>
