<div id="footer">
  <div class="container">
    <p class="text-muted">4920 S 66th Plz Omaha, NE 68117-1697 | <abbr title="Phone">P:</abbr> (402) 592-1034</p> <p class="text-muted text-right"><span class="text-right">Site courtesy of <a href="http://egistech.com">Egis Technologies</a>.</span></p>
  </div>
</div>
