<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="{{ root_url }}/" style="font-family: 'capture_it_2regular'; color:#FF0096; font-size:32px;">PINK GRADING</a> -->
        <a class="brand" href="{{ root_url }}/"><img src="http://assets.pinkgrading.com/images/logo.png"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ root_url }}/">Home</a></li>
          <li><a href="{{ root_url }}/about-us.html">About Us</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{ root_url }}/services/demolition.html">Demolition</a></li>
              <li><a href="{{ root_url }}/services/excavation.html">Excavation</a></li>
              <li><a href="{{ root_url }}/services/grading.html">Grading</a></li>
              <li class="divider"></li>
              <li><a href="{{ root_url }}/services/dirt-hauling.html">Dirt Hauling</a></li>
              <li><a href="{{ root_url }}/services/rock-quarries.html">Rock Quarries</a></li>
              <li><a href="{{ root_url }}/services/highways.html">Highways</a></li>
            </ul>
          </li>
          <li><a href="{{ root_url }}/job-gallery.html">Job Gallery</a></li>
          <li><a href="{{ root_url }}/employment.html">Employment</a></li>
          <li><a href="{{ root_url }}/quote.html">Request Quote</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>
