<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body data-spy="scroll" data-offset="0" data-target="#navbar-main">
    {{ content }}
    
    {% include after-footer.html %}
  </body>
</html>
