---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-12">
      <ol class="breadcrumb">
        <li><a href="{{ root_url }}/">Home</a></li>
        <li class="active">{{ page.title }}</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="sidebar well">
        <h2>Contact Information</h2>
        <hr>
        <address>
          <strong>Pink Grading Inc.</strong><br>
          4920 S 66th Plz<br>
          Omaha, NE 68117-1697<br>
          <br>
          <abbr title="Phone">P:</abbr> (402) 592-1034
          <!-- <br>
          <abbr title="Fax">F:</abbr> (402) 965-3892 -->
          <br>
          <abbr title="Email">E:</abbr> <a href="mailto:sales@pinkgrading.com">sales@pinkgrading.com</a>
        </address>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-8 well">
      <h2>{{ page.title }}</h2>
      <article>
      {{ content }}
      </article>
    </div>
  </div>
</div>
