---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-12">
      <ol class="breadcrumb">
        <li><a href="{{ root_url }}/">Home</a></li>
        <li><a href="{{ root_url }}/services/">Services</a></li>
        <li class="active">{{ page.title }}</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="sidebar">
        {% for otherpage in site.pages %}
          {% if otherpage.group == 'services' and otherpage.title != 'Services' %}
            {% if otherpage.url == page.url %}
              <a role="button" class="btn btn-primary btn-lg btn-block active" href="{{otherpage.url}}">{{otherpage.title}}</a>
            {% else %}
              <a role="button" class="btn btn-primary btn-lg btn-block" href="{{otherpage.url}}">{{otherpage.title}}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-8 well">
      <h2>{{ page.title }}</h2>
      <article>
      {{ content }}
      </article>
    </div>
  </div>
</div>